
.button {
  --btn-bg: var(--hot-pink);
  --btn-fg: white;
  background: var(--btn-bg);
  color: var(--btn-fg);
  font-family: 'Staatliches', sans-serif;
  font-size: 25px;
  border-radius: 5px;
  padding: 0.68em;
  border: none;

  &:disabled {
    opacity: .4;
  }
}
