<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <title>Issho Ni</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|M+PLUS+1p:700|Staatliches&display=swap&subset=japanese" rel="stylesheet" />
    <link rel="stylesheet" href="assets/compiled/{{app}}.css">
    <script>
      window.sentryData = JSON.parse(`{{{sentry}}}`)
    </script>
  </head>
  <body style="margin: 0;" >
    <div id="react-app" ></div>
    <script src="assets/compiled/{{app}}.bundle.js"></script>
  </body>
</html>