<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />

    <title>Issho Ni</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|M+PLUS+1p:700|Staatliches&display=swap&subset=japanese" rel="stylesheet" />
    <link rel="stylesheet" href="assets/compiled/{{app}}.css">

    <!-- Generic -->
    <link rel="icon" href="/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/favicons/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/favicons/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/favicons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/favicons/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/favicons/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/favicons/favicon-196.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest">

    <!-- Windows 8 IE 10 -->
    <meta name="msapplication-TileColor" content="#420D4D">
    <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="/browserconfig.xml">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/favicons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/favicons/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/favicons/favicon-180.png" sizes="180x180">

    <script>
      window.sentryData = JSON.parse(`{{{sentry}}}`)
    </script>
  </head>
  <body style="margin: 0;" >
    <div id="react-app" ></div>
    <script src="assets/compiled/{{app}}.bundle.js"></script>
  </body>
</html>