
.container {
  width: 100vw;
  height: 100vh;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 100%;
}

.video {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  transform: scaleX(-1);
}

.cameraSelector {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: stretch;
  align-self: end;
  z-index: 2;
}
